<div class="homeCons homeSection">
	<div class="container homeSection__wrapper no-padding">
		
		<div *ngFor = "let focusitems of focusitems" routerLinkActive="active" class="homeCons__txt col-sm-7 col-md-5 col-lg-push-1">
			<h2 class="homeCons__title homeSection__title"><a class="background-cate">FOCUS ON</a></h2>
			<h3 class="homeCons__title homeSection__sub">{{focusitems.title}}</h3>
			<div class="homeCons__excerpt homeSection__excerpt" style="font-style: italic;">
				<p>{{focusitems.description}}</p>
			</div>
			<a (click)="goToFocus()" class="button button--black homeSection__button" [routerLink]=[focusitems.path]><span>Learn more</span></a>
		</div>
		<div class="homeCons__featWrapper col-sm-5 col-md-6" style="padding-right: 0px">
			<img class="homeCons__feat lazy" src="assets/img/focuson.jpg" />
		</div>
	</div>
</div>