<div class="homeMktg homeSection">
   <div class="container no-padding">
      <div class="homeMktg__txt text-center">
         <h2 class="homeMktg__title homeSection__title">Feedback</h2>
         <h3 class="homeMktg__title homeSection__sub">Embrace Digital</h3>
         <div class="homeMktg__excerpt homeSection__excerpt col-md-6 center-block no-padding">
            <!-- <p>Working side by side with your team to manage and optimize your digital marketing investments.</p> -->
         </div>
         <a class="button button--black homeSection__button" href="#"><span>All Feedback</span></a>
         <div class="homeMktg__services">
            <div class="owl-carousel owl-theme">
               <div class="service linkTo marketing plan">
                  <img class="lazy service__feat" data-src="#" width="270.5"/>
                  <h4 class="service__title text-uppercase">PAU meme</h4>
                  <div class="service__excerpt hidden-xs">
                     <p>Providing cutting edge<br />
                        digital strategy
                     </p>
                  </div>
                  
               </div>
               <div class="service linkTo seo">
                  <img class="lazy service__feat" data-src="#" width="270.5"/>
                  <h4 class="service__title text-uppercase">PAU Parent meme</h4>
                  <div class="service__excerpt hidden-xs">
                     <p>Putting you in<br />
                        the spotlight
                     </p>
                  </div>
                 
               </div>
               <div class="service linkTo sem">
                  <img class="lazy service__feat" data-src="#" width="270.5"/>
                  <h4 class="service__title text-uppercase">PAU uncle meme</h4>
                  <div class="service__excerpt hidden-xs">
                     <p>Looking for the<br />
                        best intents
                     </p>
                  </div>
                  
               </div>
               <div class="service linkTo social advertising">
                  <img class="lazy service__feat" data-src="#.jpg" width="270.5"/>
                  <h4 class="service__title text-uppercase">PAU aunt meme</h4>
                  <div class="service__excerpt hidden-xs">
                     <p>Reaching the right<br />
                        audience for you
                     </p>
                  </div>
                  
               </div>
               <div class="service linkTo cro">
                  <img class="lazy service__feat" data-src="#" width="270.5"/>
                  <h4 class="service__title text-uppercase">CRO</h4>
                  <div class="service__excerpt hidden-xs">
                     <p>Increasing your e-commerce<br />
                        performance
                     </p>
                  </div>
               </div>
               <div class="service linkTo analytics">
                  <img class="lazy service__feat" data-src="#" width="270.5"/>
                  <h4 class="service__title text-uppercase">Analytics</h4>
                  <div class="service__excerpt hidden-xs">
                     <p>Aiming at the important<br />
                        numbers
                     </p>
                  </div>
                 
               </div>
            </div>
         </div>
      </div>
   </div>
</div>