<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-W4J6QB9');
</script>
<!-- alert -->
<!-- alert -->
<!-- alert -->
<div id="preloader"></div>
<header class="header">
   <div class="container header__wrapper">
      <div class="hidden-md hidden-lg header__hamburger js-slideout-toggle">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </div>
      <div class="header__logo no-padding-left">
         <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 183 33" style="enable-background:new 0 0 183 33;" xml:space="preserve">
               <style type="text/css">
                  .st0{fill:#099D6E;}
                  .st1{font-family:'Industry-Bold';}
                  .st2{font-size:31.626px;}
                  .st3{font-family:'Industry-Light';}
               </style>
               <text transform="matrix(0.7119 0 0 1 39.6665 28.76)">
                  <tspan x="0" y="0" class="st0 st1 st2">HANAH</tspan>
                  <tspan x="114.5" y="0" class="st0 st3 st2">SP</tspan>
               </text>
               <polyline class="st0" points="147.5,25.9 146.1,28.6 148.9,28.6 "/>
            </svg>
         </a>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-8 header__menu no-padding-right text-right">
         <div class="mobile_wrapper">
            <nav id="main_nav" class="menu-main_nav-container">
               <ul id="menu-main_nav" class="nav navbar-nav text-right sf-menu">
                  <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-23 menu-page-9">
                     <a href="#">HOME</a>
                  </li>
                  <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-23 menu-page-9">
                     <a href="#">PROGRAMS</a>
                     <ul class="sub-menu">
                        <li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205 menu-page-33"><a href="#">Body rental</a></li>
                        <li id="menu-item-206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-206 menu-page-35"><a href="#">Training</a></li>
                        <li id="menu-item-207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-207 menu-page-37"><a href="#">Audit</a></li>
                        <li id="menu-item-208" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-208 menu-page-39"><a href="#">Business plan</a></li>
                     </ul>
                  </li>
                  <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-22 menu-page-11">
                     <a href="#">FACILITIES</a>
                     <ul class="sub-menu">
                        <li id="menu-item-209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209 menu-page-41"><a href="#">Groups</a></li>
                        <li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210 menu-page-43"><a href="#">SEO</a></li>
                        <li id="menu-item-211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211 menu-page-45"><a href="#">SEM</a></li>
                        <li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212 menu-page-47"><a href="#">Social advertising</a></li>
                        <li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213 menu-page-49"><a href="#">CRO</a></li>
                        <li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214 menu-page-51"><a href="#">Analytics</a></li>
                     </ul>
                  </li>
                  <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-20 menu-page-15">
                     <a href="#">GROUP</a>
                     <ul class="sub-menu">
                        <li id="menu-item-215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215 menu-page-53"><a href="#">Team</a></li>
                        <li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216 menu-page-57"><a href="#">Friends</a></li>
                        <li id="menu-item-701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701 menu-page-55"><a href="#">Lifestyle</a></li>
                     </ul>
                  </li>
                  <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21 menu-page-13"><a (click)="goToEvent()" routerLink="/event">EVENTS</a></li>
                  <li id="menu-item-19" class="contacts-icon menu-item menu-item-type-post_type menu-item-object-page menu-item-19 menu-page-17"><a (click)="goToContact()" routerLink="/contact">CONTACT</a></li>
                  <li id="menu-item-62" class="where-icon menu-item menu-item-type-post_type menu-item-object-page menu-item-62 menu-page-27"><a (click)="goToContact()" routerLink="/maps">HEADQUARTER</a></li>
               </ul>
            </nav>
            <div class="hidden-md hidden-lg menuContacts text-left">
               <div class="menuContacts__phone"><i class="phone_icon"></i><a href="tel:'+390497386284">(+84) 049 738 6284</a></div>
               <div class="menuContacts__email"><i class="email_icon"></i><a href="mailto:info@store.is">info@hanahsport.is</a></div>
            </div>
         </div>
      </div>
      <div class="hidden-md hidden-lg manifesto-mob-icon">
         <a href="#">
            <img src="assets/img/search-find.png" width="24.5" height="24.5">
         </a>
      </div>
   </div>
</header>